---
import Layout from '../layouts/Layout.astro';
import Joy from '../components/Joy.svelte'
---

<Layout title="Conskoyle">
	<main class="flex justify-center items-center">
		<Joy client:load />
	</main>
</Layout>
